extends layout

block content
  section#cont
    h1 RESTful API Service
    h3 Unix Timestamp Microservice
    h5 Instructions
    p.ex Pass in a natural date or a unix timestamp as a parameter in the URL:
    code localhost:3000/November 23, 2009
    br
    code localhost:3000/1258985367
    p.ex Example of a response:
    code {"unix": 1648715267, "natural": May 21, 2007}
    footer
      p.foot Coded by Jorge A
