doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style
      @import url('https://fonts.googleapis.com/css?family=Special+Elite')


  body
    block content

    
